<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <select v-model="selected" multiple="">
            <option v-for="option in options"  :value="option.value">
                {{ option.text | json }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
        <div v-if="Math.random() > 0.5">
            Sorry
        </div>
        <div v-else>
            Not sorry
        </div>
                <div v-show="Math.random() > 0.5">
            Sorry
        </div>
        <div  v-show="!Math.random() > 0.5">
            Not sorry
        </div>
    </div>
    <script>
    new Vue({
        el: '#app',
        data: {
            selected: 'A',
            options: [{
                text: 'One',
                value: 'A'
            }, {
                text: 'Two',
                value: 'B'
            }, {
                text: 'Three',
                value: 'C'
            }]
        }
    })
    </script>
</body>
<!--<body>
      <div id="app">
               <label for="demo">Message is: {{ msg }} </label>
        <input type="text" v-model="msg" id="demo" placeholder="22">
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames | json }}</span>
        <select v-model="selected">
            <option selected>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <script>
    // new Vue({
    //     el: '#app',
    //     data: {
    //         msg: '',
    //         checked: 'false'
    //     }
    // });
    let a = new Vue({
            el: '#app',
            data: {
                checkedNames: [],
                selected: ''
            }
        })
    </script>
</body>
-->
<!-- <body>
    <div id="example-1" v-on:click='do'>
        Hello {{ name }} and {{age}}!
    </div>
        <div id="example-2" @mouseout="do">
        Hello {{ name }} and {{age}}!
    </div>
    <div id="example-2" @click="do">
        Hello {{ name }} and {{age}}!
    </div>
    <input id="example-3" @keyup.enter="do">
    </div>
    <script>
    // 这是我们的 Model
    var exampleData = {
        name: 'Vue.js',
        age: '18'
    }

    // 创建一个 Vue 实例或 "ViewModel"
    // 它连接 View 与 Model
    var exampleVM = new Vue({
        el: '#example-1',
        data: exampleData,
        methods: {
            do: (event) => {
                alert(event.target.tagName);
            }
        }
    })
    var exampleVM2 = new Vue({
        el: '#example-2',
        data: exampleData,
        methods: {
            do: (event) => {
                alert(event.target.tagName + '!');
            }
        }
    })
    var exampleVM3 = new Vue({
        el: '#example-3',
        data: exampleData,
        methods: {
            do: (event) => {
                alert(event.target.tagName + '!');
            }
        }
    })
    </script>
</body> -->
<!-- <body>
    <div id="app">
        <p>{{ message }}</p>
        <input v-model='message'>
    </div>
    <script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!!'
        }
    })
    </script>
</body> -->
<!-- <body>
    <div id="app">
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
    </div>
    <script>
    new Vue({
        el: '#app',
        data:{
            todos: [
                {
                    text: 'Learn JavaScript'
                },
                {
                    text: 'Learn Vue.js'
                },
                {
                    text: 'Build Something Awesome'
                }
            ]
        }
    })
    </script>
</body>
 -->
<!-- <body>
    <div id="app">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function() {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
    </script>
</body> -->
<!-- <body>
    <div id="app">
        <input v-model="newTodo" v-on:keyup.enter="addTodo">
        <ul>
            <li v-for="todo in todos">
                <span>{{ todo.text }}</span>
                <button v-on:click="removeTodo($index)">X</button>
            </li>
        </ul>
    </div>
    <script>
    new Vue({
        el: '#app',
        data: {
            newTodo: '',
            todos: [{
                text: 'Add some todos'
            }]
        },
        methods: {
            addTodo: function() {
                var text = this.newTodo.trim()
                if (text) {
                    this.todos.push({
                        text: text
                    })
                    this.newTodo = ''
                }
            },
            removeTodo: function(index) {
                this.todos.splice(index, 1)
            }
        }
    })
    </script>
</body> -->

</html>
